/* 전체적용 */
body {
    line-height: 1.2;
}

h1{
    font-size: 2rem;
    font-weight: bold;
}


/* 여기부터는 nav */


.nav_container {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
}
.nav_container a {
    color: white;
    text-decoration: none;
}
.nav_container .nav_logo {
    width: 130px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    margin: 10px;
    line-height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
}
.nav_container .nav_list {
    width: 130px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    margin: 10px;
    padding-top: 10px;
    text-align: center;
}
.nav_container .nav_list li {
    margin: 20px auto;
}


/* 여기부터는 콘텐츠 */


.content_container {
    margin-left: 150px;
}


/* 여기부터는 푸터 */


.footer_container {
    /* background-color: rgb(200, 200, 200); */
    color: #b2b2b2;
    margin-top: 300px;
}