{% extends "base.html" %}

{% block title %}2페이지{% endblock %}

{% block head %}
{{ super() }}
<script>
    function posting_img() {
        let title = $('#title').val()
        let file = $('#file')[0].files[0]
        if (title == "") {
            return alert('제목을 입력하세요')
        } else {
            let form_data = new FormData()
            form_data.append("title_give", title)
            form_data.append("file_give", file)
        
            $.ajax({
                type: "POST",
                url: "/fileupload",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["result"])
                    window.location.reload()
                }
            });
        }
    }

    function find_img() {
        let title = $('#find_title').val()
        document.getElementById('link').href = '/2page/' + title
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('show_pic').src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            document.getElementById('preview').src = "";
        }
    }

    function enter_posting() {
        if (window.event.keyCode == 13) {
            posting_img()
        }
    }
</script>
{% endblock %}

{% block main %}
    <div class="content_wrap">
        <h1>2페이지 사진 업로드 페이지</h1>
        <img id="show_pic" />
        <div class="file-upload">
            <input style="width:300px;" type="text" id="title" onkeyup="enter_posting()" placeholder="업로드할 이미지 제목을 입력해주세요">
            <input type="file" id="file" onchange="readURL(this)">
            <button onclick="posting_img()">업로드</button>
        </div>
        <hr>
        <div>
            <input style="width:300px;" onchange="find_img()" type="text" id="find_title" placeholder="볼 이미지의 제목을 입력해주세요">
            <a id='link' href="#">업로드 한 이미지 보기</a>
        </div>
        <div>
            <ul>
                {% for i in img_list %}
                    {% set title = i.title %}
                    <li><a href="/2page/{{title}}">{{loop.index}}  {{title}}</a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
