{% extends "base.html" %}

{% block title %}4페이지{% endblock %}

{% block head %}
{{ super() }}
<style>
    .slider_wrap {
        width: 800px;
    }
    .slider {
        width: 3200px;
        transition: transform 0.5s;
        transform: translate(0);
    }
    .slider .inner_slide {
        width: 800px;
        float: left;
    }
    .slider .inner_slide img {
        width: 100%;
    }
    .btn_wrap {
        width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .btn_wrap button {
        width: 30px;
        height: 20px;
        margin: 2px 5px 2px;
    }
</style>
<script>
        
    function slide_btn(num) {
        let c_num = -((num-1)*800);
        document.querySelector('.slider').style.transform = `translateX(${c_num}px)`
        
    }

</script>
{% endblock %}

{% block main %}
<div>
    {{ addtitle(4) }}
</div>
<div class="slider_wrap" style="overflow: hidden;">
    <div class="slider">
        <div class="inner_slide">
            <img src="..\static\images\1.png">
        </div>
        <div class="inner_slide">
            <img src="..\static\images\2.png">
        </div>
        <div class="inner_slide">
            <img src="..\static\images\3.png">
        </div>
        <div class="inner_slide">
            <img src="..\static\images\4.png">
        </div>
    </div>
</div>
<div class="btn_wrap">
    <button class="btn_prev" onclick="slide_btn(1)"><</button>
    <button class="btn1" onclick="slide_btn(1)">1</button>
    <button class="btn2" onclick="slide_btn(2)">2</button>
    <button class="btn3" onclick="slide_btn(3)">3</button>
    <button class="btn4" onclick="slide_btn(4)">4</button>
    <button class="btn_next" onclick="slide_btn(4)">></button>
</div>


{% endblock %}